
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
html {
 cursor: url('public/Normal Galaxy.png') 0 0, auto;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

